.btn-red {
  background-color: red;
  border: red 1px solid;
  color: white;
  padding: 24px;
  display: block;
  width: 40%;
  margin: 8px auto;
  border-radius: 5px;
  text-align: center;
  transition: 1s;
}

.btn-red:hover {
  transition:  1s;
  background-color:  white;
  color:  red;
}
